.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: 322px;
}

.card__header {
  position: absolute;
  display: flex;
  top: 10px;
  align-items: center;
}

.card__name {
  /* position: absolute; */
  top: 15px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding: 2px 12px;
  border-radius: 4px;
  gap: 10px;
  margin: 0;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
}

.card__like-btn {
  background-image: url(../../assets/like-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
}

.card__like-btn_is-liked {
  background-image: url(../../assets/like-button-dark.svg);
}

.card__image {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
