.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 85px;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  margin-top: 171px;
  }
  
  .footer__developer-text {
    margin: 0;
  }
  
  .footer__year-text {
    margin: 0;
  }